@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "pre-black";
    src: url("../public/fonts/pretendard/static/Pretendard-Black.otf");
  }
  @font-face {
      font-family: "pre-bold";
      src: url("../public/fonts/pretendard/static/Pretendard-Bold.otf");
    }
    @font-face {
      font-family: "pre-exBold";
      src: url("../public/fonts/pretendard/static/Pretendard-ExtraBold.otf");
    }
    @font-face {
      font-family: "pre-exBold";
      src: url("../public/fonts/pretendard/static/Pretendard-ExtraLight.otf");
    }
  @font-face {
    font-family: "pre-light";
    src: url("../public/fonts/pretendard/static/Pretendard-Light.otf");
  }
  
  html,
  body {
    height: 100%;
  }
  body {
    overflow: hidden;
    margin: 0;
    font-family: 'pre-light';
    font-size: 16px;
    color: #353535;
    font-weight: 500;
    line-height: 21.6px;
    background: #1f1f23;
  }
  
  .menu-hover{
      transition: 0.3s;
      border-radius: 5px;
  }
  .menu-hover:hover{
      background: linear-gradient(180deg, #E03F8C 0%, #FF5570 100%);
      transition: 0.3s;
  }
  html, body { height: 100%; }
  body { margin: 0;}
  
  .text-xl{
    font-size: 19px;
    line-height: 21.6px;
  }
 
  
  
.input-form-login {
    display: flex;
    flex-direction: column;
    label {
      color: white;
      margin-bottom: 10px;
      font-weight: bold;
    }
    input {
      border-radius: 5px;
      padding: 16px;
      background: #2f2f35;
      color: white;
    }
  }
  table{
      thead{
          border: 0.5px solid #C2C2C2;
          position: sticky;
          top: 0;
          left: 0;
          th{
              background: #F9F9FA;
              text-align: center;
              padding: 20px 0;
              width: 25%;
          }
          th:before{
              content: "*";
              color: red;
              margin-right: 5px;
          }
      }
      tbody{
          tr{
              border-bottom: 1px solid #CACACA;
          }
          td{
              padding: 10px;
              text-align: center;
              input {
                  width: 100%;
                  border-radius: 5px;
                  padding: 16px;
                  background: #fff;
                  color: #2f2f35;
                  border: 1px solid #dadada;
                }
          }
      }
  }
  hr {
    color: #dadada;
  }
  .input-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    label {
      color: #2f2f35;
      font-weight: bold;
      white-space: nowrap;
      padding-right: 10px;
      min-width: 120px;
    }
    input {
      width: 100%;
      border-radius: 5px;
      padding: 16px;
      background: #fff;
      color: #2f2f35;
      border: 1px solid #dadada;
    }
    select{
      width: 100%;
      border-radius: 5px;
      padding: 16px;
      background: #fff;
      color: #2f2f35;
      border: 1px solid #dadada;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      /* Remove default arrow */
      background-image: url("../public/image/arrow-down.png");
      background-repeat: no-repeat;
      background-position: right center;
    }
    input[type="text"][disabled] {
      background: #EDEDED;
   }
  }
  .required{
      label:after{
          content: "*";
          color: red;
          margin-left: 5px;
      }
  }
  .button-submit {
    background: linear-gradient(180deg, #e03f8c 0%, #ff5570 100%);
    padding: 16px;
    border-radius: 5px;
    width: 100%;
    color: white;
  }
  .check-group {
    background: transparent;
    max-width: 13rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgb(0 0 10 / 0.2);
  
    counter-reset: total;
    counter-reset: checked;
  
    > * + * {
      margin-top: 0.75rem;
    }
  
    .checkbox {
      counter-increment: total;
    }
  
    input[type="checkbox"]:checked {
      counter-increment: checked;
    }
  
    &__result {
      font-weight: bold;
      padding-top: 0.75rem;
      border-top: 1px solid rgb(0 0 0 / 0.2);
  
      &:after {
        content: counter(checked) " / " counter(total);
        padding-left: 1ch;
      }
    }
  }
  
  .checkbox {
    $block: &;
  
    cursor: pointer;
    display: flex;
    align-items: center;
  
    &__input {
      position: absolute;
      width: 1.375em;
      height: 1.375em;
      opacity: 0;
      cursor: pointer;
  
      &:checked + #{$block}__icon .tick {
        stroke-dashoffset: 0;
      }
    }
  
    &__icon {
      width: 1.375em;
      height: 1.375em;
      flex-shrink: 0;
      overflow: visible;
  
      .tick {
        stroke-dasharray: 20px;
        stroke-dashoffset: 20px;
        transition: stroke-dashoffset 0.2s ease-out;
      }
    }
  
    &__label {
      margin-left: 0.5em;
    }
  }
  
  
  .ant-drawer-header {
    background-color: #5340ff;
    border-radius: 0;
  }
  
  .ant-drawer-title {
    color: #fff;
  }